@model IEnumerable<AppDatosAbiertos.RecursoClorogasSulfato>

@{
    ViewBag.Title = "Index";
}

<center>
    <h2>
        Consumo cloro gas y sulfato
    </h2>
</center>
    <p>
        <a class="btn btn-primary" style="margin-bottom:10px" href="/RecursoClorogasSulfato/Create">
            <span class='glyphicon glyphicon-file'></span>
        </a>
    </p>


    <p>
        <a class="btn btn-default" style="margin-bottom:10px" href="/RecursoClorogasSulfato/ExportarCSV">
            Exportar a CSV
            <span class='glyphicon glyphicon-export'></span>
        </a>
    </p>


    <p>
        <a class="btn btn-default" style="margin-bottom:10px" href="/RecursoClorogasSulfato/ExportarAxlsx">
            Exportar a XLSX
            <span class='glyphicon glyphicon-export'></span>
        </a>
    </p>


    <table class="table-bordered">
        <tr>
            <th>
                Nombre del conjunto
            </th>
            <th>
                Año
            </th>
            <th>
                Mes
            </th>
            <th>
                Cloro gas
            </th>
            <th>
                Sulfato
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConjuntodeDato.NombreConjunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes.NombreMes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCloroGas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSulfato)
            </td>
            <td>
                @Html.Raw("<a data-modal='' href='/RecursoClorogasSulfato/Edit/" + item.IdRecursoCGasSulfato + "' id='" + item.IdRecursoCGasSulfato + "'title='Edit'> <span class='glyphicon glyphicon-edit'></span> </a>")
                @Html.Raw("<a data-modal='' href='/RecursoClorogasSulfato/Details/" + item.IdRecursoCGasSulfato + "' id='" + item.IdRecursoCGasSulfato + "'title='Details'> <span class='glyphicon glyphicon-th-list'></span> </a>")
                @Html.Raw("<a data-modal='' href='/RecursoClorogasSulfato/Delete/" + item.IdRecursoCGasSulfato + "' id='" + item.IdRecursoCGasSulfato + "'title='Delete'> <span class='glyphicon glyphicon-trash'></span> </a>")
            </td>
        </tr>
        }

    </table>
